html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

  /*==================*/
 /*   Header styles  */
/*==================*/

header {
	height: 500px;
}

header h1 {
	text-indent: -99999px;
	height: 0;
	margin: 0;
}

header h3 {
	margin: 0;
}

header img {
	width: 375px
}

.mainLogo {
	display: block;
	margin: 0 auto;
	padding: 20px 0 0 0;
}

.subTitles{
	display: inline-block;
	width: 100%;
	height: 70px;
	overflow: hidden;
	font-family: gsBold;
	text-align: center;
	vertical-align: middle;
	font-size: 40pt;
	color: #AAA;
	text-shadow: 0px 2px 2px #666;
	font-weight: 300;
	line-height: 70px;
	z-index: 999;
}

.flipTitle{
	
}

.flipTitle.topTitle{
	-webkit-transition: margin-top .5s ease-in-out;
	-moz-transition: margin-top .5s ease-in-out;
	-o-transition: margin-top .5s ease-in-out;
	transition: margin-top .5s ease-in-out;
}

.socialIcons{
	background: #06799F;
	color: #fff;
	border: 2px dashed #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #00678A, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	text-shadow: -1px -1px #033444;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	position: absolute;
	height: 125px;
	right: -4px;
	top: 115px;
	width: 70px;
}
.socialIcons .faceBook{
	font-size: 46px;
}

.socialIcons .faceBook a,
.socialIcons .twitter a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	display: block;
	margin-top: 10px;
	text-shadow: 1px 1px 1px #222;
}

.socialIcons .faceBook a:hover,
.socialIcons .twitter a:hover {
	color: #FF5600;
}

.socialIcons .twitter{
	font-size: 40px;
}

.socialIcons .twitter a {
	margin-top: 5px;
}

  /*===============*/
 /*   Nav styles  */
/*===============*/
nav {
	height: 75px;
	width: 441px;
	position: absolute;
	top: 500px;
	right: -25px;
	margin: 0;
	box-shadow: -4px 4px 6px #666;
	border-radius: 10px;
	z-index: 9999;
}

nav.docked {
	position: fixed;
	top: 20px;
	z-index: 999;
}

nav ul {
	list-style: none;
	width: 385px;
	float: right;
	margin-top: 0px;
}

nav li {
	font-family: gsBold;
	list-style: none;
	display: inline-block;
	margin-left: 15px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	color: #888;
}

nav li a.selected {
	color: #FF5600;
}

.stitched {
   padding: 20px;
   margin: 0 10px 10px 10px;
   background: #06799F;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #00678A, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #033444;
   font-weight: normal;
}

.buildingWrapper {
	float: left;
	max-width: 31%;
	height: 100%;
	position: relative;
	z-index: 2;
}

.building {
	margin-left: -340px;
	width: 800px;
}

.valuesOuterWrapper {
	height: 2990px;
	padding-top: 75px;
	background: #ccc;
	background: skyblue;
	position: relative;
}

.valuesWrapper {
	width: 68%;
	float: right;
	position: relative;
	text-align: center;
	font-family: gsBold;
	color: #fff;
}

.valuesWrapper ul {
	list-style: none;
	font-size: 50px;
	text-shadow: -1px 1px 0px #000;
	margin-top: 200px;
	margin-bottom: 0;
	padding-left: 0;
	z-index: 100;
	position: relative;
}

.valuesWrapper li {
	height: 558px;
	padding: 0 20px 0 20px;
}

.valuesWrapper h3 {
	margin: 0;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.16);
	color: #FF5600;
	font-size: 72px;
}

.valuesWrapper li span {
	color: #525252;
	font-size: 42px;
	line-height: 60px;
	display: block;
	margin-top: 15px;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.16);
}

.valuesWrapper .icon-smile,
.valuesWrapper .icon-lock,
.valuesWrapper .icon-shield,
.valuesWrapper .icon-book,
.valuesWrapper .icon-umbrella {
	padding-left: 15px;
}

.servicesOuterWrapper {
	height: 550px;
	background: url(../img/ground-small3.png) 0 0;
	z-index: 3;
	position: relative;
}

.serviceContainer {
	color: #fff;
	font-family: gsBold;
}

.serviceContainer h2 {
	margin: 0;
	font-size: 42px;
	color: #FF5600;
	text-align: center;
}

.serviceContainer ul {
	margin: 0;
	padding: 0;
}

.serviceContainer li {
	list-style: none;
	font-size: 26px;
	font-size: 26px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.serviceListLeft {
	width: 45%;
	float: left;
	min-height: 190px;
	margin-bottom: 35px;
	border-right: 1px solid #fff;
	padding-right: 50px;
	border-top: 1px solid #fff;
}

.serviceListRight {
	width: 45%;
	float: right;
	margin-bottom: 35px;
	min-height: 190px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding-left: 50px;
}

.serviceListRight h2 {
	text-align: left;
}

.serviceListRight ul {

}

.serviceListRight li {
	text-align: left;
}

.serviceListLeft h2 {
	text-align: right;
}

.serviceListLeft ul {

}

.serviceListLeft li {
	text-align: right;
}

.servicesOuterWrapper .icon-trash {
	padding-right: 10px;
}

.contactOuterWrapper {
	height: 700px;
	background: url(../img/ground-small3.png) 0 0;
	padding-top: 100px;
	font-family: gsBold;
	z-index: 3;
	position: relative;
}

.contactOuterWrapper h2 {
	margin: 0;
	font-size: 60px;
	color: #FF5600;
}

.contactWrapper {
	height: 100%;
}

.contactContainerLeft {
	width: 45%;
	height: 50%;
	float: left;
	padding-right: 50px;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	text-align: right;
}

.contactContainerRight {
	float: right;
	width: 45%;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	padding-left: 50px;
}

.contactContainerRight form {
	padding-top: 20px;
}

.contactContainerRight input {
	display: block;
	width: 400px;
	height: 30px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 22px;
	color: #FF5600;
	font-family: gsBold;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85);
}

.contactContainerRight textarea {
	display: block;
	width: 500px;
	height: 250px;
	margin-bottom: 5px;
	padding: 6px;
	font-size: 22px;
	color: #FF5600;
	font-family: gsBold;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85);
}

.contactContainerRight .call {
	color: #fff;
	font-size: 32px;
	font-family: gsBold;
}

.contactContainerRight .call h2,
.contactContainerRight .email h2 {
	font-size: 42px;
}

.contactContainerRight input.error,
.contactContainerRight textarea.error {
	background-color: red;
	color: #FFF;
}

.contactContainerRight button {
	padding: 10px 20px 10px 20px;
	font-family: gsBold;
	background: #06799F;
	border-color: #FFF;
	border-radius: 5px;
	font-size: 22px;
	width: 514px;
	color: #fff;
}

.contactContainerRight button:hover {
	background-color: #003749;
	cursor: pointer;
}

.contactFormSubmitText {
	font-size: 26px;
	color: #fff;
}

.clouds {
	height: 230px;
}

.cloud{
	background-repeat: no-repeat;
	position: absolute;
}

.cloud.small {
	background: url(../img/cloud_small.png) 0 0;
	width: 250px;
	height: 157px;
}

.cloud.med {
	background: url(../img/cloud_med.png) 0 0;
	width: 500px;
	height: 314px;
}

.cloud.large {
	background: url(../img/cloud_large.png) 0 0;
	width: 800px;
	height: 503px;
}

.grass {
	background: url("../img/grass-med-feathered.png");
	height: 102px;
	width: 100%;
	float: left;
	top: -88px;
	position: relative;
	z-index: 2;
}

.flower {
	background: url("../img/flower-large.png");
	height: 502px;
	width: 100%;
	top: 2660px;
	left: 85%;
	z-index: 1;
	position: relative;
	background-repeat: no-repeat;
}

.treeBranch {
	/*background: url("../img/branch-large.png");*/
	background-repeat: no-repeat;
	width: 500px;
	height: 185px;
	position: fixed;
	right: -10px;
}

.treeBranch2 {
	background-repeat: no-repeat;
	position: fixed;
	right: -10px;
}

.bird {
	position: fixed;
	right: -10px;
	width: 150px;
}

.buildingsFront,
.buildingsBack {
	position: fixed;
	left: 330px;
}

footer {
	background: url(../img/ground-small3.png) 0 0;
	color: #fff;
	font-family: gsBold;
	height: 100px;
	font-size: 18px;
	position: relative;
}

footer span {
	bottom: 15px;
	position: absolute;
	padding-left: 20px;
	padding-right: 15px;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
}

.submitError {
	color: #fff;
}

.submitError span {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
}

.submitError a {
	color: #FF5600;
}

.submitError a:hover {
	color: #fff;
}

  /********************/
 /*   Font Styles    */
/********************/

@font-face {
  font-family: gsBold;
  src: url('../fonts/gs_bold.ttf') format('truetype'), url('../fonts/gs_bold.eot') format('eot'), url('../fonts/gs_bold.woff') format('woff');
}

@font-face {
  font-family: antsy;
  src: url('../fonts/antsypants.regular.ttf') format('truetype'), url('../fonts/antsypants.regular.eot') format('eot'), url('../fonts/antsypants.regular.woff') format('woff');
}

.icon-6 {
	font-size: 20em;
}

.icon-5 {
	font-size: 12em;
}

.icon-4 {
	font-size: 7em;
}

.icon-3 {
	font-size: 4em;
}

.icon-2 {
	font-size: 2em;
}	

.icon-1 {

}

@media only screen 
and (max-width : 1040px) { 
	.serviceListLeft,
	contactContainerLeft {
		padding-right: 20px;
	}

	.serviceListRight,
	.contactContainerRight {
		padding-left: 20px;
	}
}

@media (max-width : 1000px) { 
	.valuesWrapper {
		width: 60%;
	}
}